/*  your css code here. If applicable */
#container {
	margin:20px;
}
#container : before{
	content: "Before element";
	color:#f00;
	font-size:20px;
}

#container : after{
	content: "After element";
	color:#f00;
	font-size:20px;
}
